<ion-view view-title="Information">
   <ion-content class="calm-bg">
        <img src="img/map.png" id="map">
        <h4 class="stable padding text-center" style="margin-bottom:0;">Address:</h4>
        <h3 class="stable padding text-center"  style="margin-top:0;">
            75 Github Street, Rio de Janeiro/RJ - Brazil
        </h3>
        <p class="positive text-center" style="margin: 2em;"><i class="icon ion-ios-more"></i></p>
        <p class="stable text-center h4">
            <i class="icon ion-ios-telephone positive"></i> +55 21 98765-4321
        </p>
        <p class="stable text-center h4">
            <i class="icon ion-ios-email positive"></i> hello@contact.com
        </p>
        <p class="stable text-center h4">
            <i class="icon ion-social-facebook positive"></i> 12th Web Conference
        </p>

  </ion-content>
</ion-view>
